<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.xxx.entity.User">
        <id column="user_id" jdbcType="INTEGER" property="user_id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
    </resultMap>

    <sql id="Base_List">
    account, password, name
    </sql>

    <insert id="addUser" parameterType="com.xxx.entity.User">
        insert into user (<include refid="Base_List"/>)
        values (#{account},#{password},#{name})
    </insert>

    <select id="queryByAccount" resultType="com.xxx.entity.User">
        select * from user where account = #{account}
    </select>

    <select id="queryById" resultType="com.xxx.entity.User">
        select * from user where user_id = #{user_id}
    </select>
</mapper>